* {
    box-sizing: border-box;
    margin: 0 auto;
}
body, html {
    font-family: 'Asap', sans-serif;
    text-align: center;
    background-color: #FFD073;
}
.homepage {
  border: solid 1px red;
}
.logo {
    margin: 30px 0 30px 0;
}
.kaczkaRamka {
    width: 50%;
    margin: 20px auto;
}
.kaczkaRamka img {
    border: 10px orange solid;
    height: 100%;
    width: 100%;
    object-fit: cover;     
}
.kaczkaContainer {
    border: 1px green solid;
}
button {
    height: 60px;
    width: 200px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    border: 4px red solid;
    background-color: coral
}
.odliczanie {
    display: inline;
    font-size: 3em;
}
footer {
    background-color: coral;
    height: 100px;
    line-height: 100px;
    font-size: 2em;
}