body, html {
    font-family: 'Calibri', sans-serif;
    text-align: center;
    margin: 0px auto;
    box-sizing: border-box;
    background-color: #FFD073;
}
#logo {
    margin-top: 30px;
    margin-bottom: 20px;
}
.kaczkaContainter{
    margin: 30px auto;
    width: 600px;
    background-color: #FFBF40;
    padding: 20px;
}
.kaczkaContainter img {
    max-width: 100%;
}
.pozostaleKaczki {
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 60%;
}
.pozostaleKaczki img {
    max-width: 100%;
    border: solid 10px #FFBF40;
}
footer {
    background-color: coral;
    height: 60px;
    line-height: 60px;
}